* {
    cursor : none ; 
}


header {
    background-color:  rgb(255, 255, 255);
}


h1 {
    /* not the right font but perhaps looks better for main title */
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
    padding : 0; 
    margin : 0; 
}