# Mac OS
.DS_Store

# dependencies
**/node_modules/
/.pnp
.pnp.js
package-lock.json
/coverage
/playwright-report/
/playwright/.cache/
/test-results/


#other 
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
.vercel

/build
/dist/
.cache/
.temp/
.tmp/
.debug/
.env

#vscode
.vscode/

#Intellij 
.idea/
*.iml
.idea_modules/
 
#Perhaps we should leave this out?
.npm 
.eslintcache